// =============================================================================
// IMPORT
// =============================================================================
@import "../../../styles";

nav.dashboard_nav{
	width: 100%;
	background-color: #f2f2f2;

	div.inner_container{
		height: 50px;
		width: 90%;
		max-width: 1000px;
		margin: 0 auto; 

		ul{
			width: 100%;
			height: 100%;
			margin: 0;
			display: block;
			// overflow: auto;
	
			li{
				float: left;

				&.active a{	border-bottom: 2px solid $dark_primary; }
				a{
					line-height: 48px;
					display: block;
					padding: 0 12px;
					color: $dark_primary;
					border-bottom: 2px solid $light_grey;
					cursor: pointer;
					transition: all 200ms;

					&:hover{
						background-color: $med_primary;
						border-color: $med_primary;
						color: $light_grey;
					}
				}
				&.profile_sub_nav{
					float: right;
					position: relative;
					padding: 0 10px 0 7px;
					background-color: $light_grey;

					&:hover div.nav_dropdown{
						display: block;
					}
					div.user_icon{
						width: 40px;
						height: 40px;
						margin: 5px 0 5px 5px;
						border-radius: 50%;
						background-color: $green;
						color: white;
						font-style: 2rem;
						font-weight: 200;
						text-align: center;
						line-height: 42px;
					}
					div.nav_dropdown{
						display: none;
						position: absolute;
						background-color: $white;
						width: 300px;
						right: 0;
						top: 50px;
						box-shadow: 0px 0px 5px rgba($black, .1);

						div.header{
							width: 100%;
							height: 140px;
							background-color: $light_grey;

							h3{
								line-height: 140px;
								width: 100%;
								text-align: center;
								font-weight: 200;
							}
						}
						ul{
							li{
								float: none;

								&:last-child{
									a{
										background-color: $med_primary;
										color: white;

										&:hover{
											background-color: $light_primary;
										}
									}
								}
								a{
									padding: 6px 20px;
									width: calc(100% - 40px);
									border: 0;
								}
							}
						}
					}
				}
			}
		}
	}	
}

section.email_verification{
	width: 100%;
	background-color: $blue;
	padding: 10px 0;

	div.inner_container{
		width: 90%;
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		p{
			font-size: 1.2rem;
			color: white;
			font-weight: 200;
			width: calc(100% - 100px);
			line-height: 20px;
			vertical-align: middle;
		}
		a.button.gost{
			border: 1px solid white;
			border-radius: 4px;
			width: auto;
			color: white;
			font-weight: 400;
			font-size: 1rem;
			padding: 10px 12px;
			background-color: rgba(white, 0);
			cursor: pointer;
			transition: all 200ms;

			&:hover{
				background-color: rgba(white, 0.2);
			}
		}
	}
}