// =============================================================================
// IMPORT
// =============================================================================
@import "../../../styles";

section.login{
	min-height: 100vh;

	div.inner_container{
		width: 90%;
		min-height: 100vh;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-around;

		div.login_container{
			width: 100%;
			max-width: 350px;
			h2.title{
				color: $dark_primary;
				font-weight: 200;
				margin-bottom: -20px;
				text-align: center;
				width: 100%;
				z-index:0;
				position: relative;
				font-size: 4rem;
			}

			div.login_card{
				width: calc(100% - 40px);
				height: auto;
				background-color: #fff;
				padding: 25px 20px;
				border-radius: 4px;
				box-shadow: 0px 0px 5px rgba(black, 0.1);
				position: relative;
				z-index: 1;
	
				div.header{
					margin-bottom: 20px;
	
					div.user_icon{
						width: 50px;
						height: 50px;
						margin: 0 auto;
						border-radius: 50%;
						background-color: $light_grey;
						color: white;
						font-style: 2rem;
						font-weight: 200;
						text-align: center;
						line-height: 50px;
					}
				}
				div.body{
					div.input_group{
						width: 100%;
						margin: 30px 0;
		
						&:first-child{ margin-top: 0; }
						&:last-child{ margin-bottom: 0; }
						label{
							font-size: 12px;
							font-weight: 600;
							display: block;
							margin-bottom: 5px;

							span.required{
								color: $red;
							}
						}
						input{
							font-size: 16px;
							color: #303030;
							width: 100%;
							padding: 12px 0;
							border: none;
							border-bottom: 1px solid #303033;
							font-weight: 400;
						}
						p.informational_message{
							font-size: 12px;
							font-weight: 200;
							color: $red;
							margin-top: 5px;

							&::ng-deep span{
								font-family: 'fontawesome';
								font-weight: 300;
							}
						}
						&.checkbox{
							overflow: auto;

							input{
								display: inline;
								float: left;
								width: auto;
								margin: 0;
							}
							label{
								display: inline;
								float: left;
								margin: 0 0 0 10px;
								font-weight: 400;
							}
						}
					}
				}
				div.footer{
					overflow: auto;
					margin-top: 20px;
	
					a.button{
						background-color: $dark_primary;
						padding: 10px 15px;
						border-radius: 3px;
						color: white;
						float: right;
						transition: background-color 200ms;
						transition: all 200ms;
						width: 45px;
						cursor: pointer;
						position: relative;
						
						&:hover{
							background-color: lighten( $dark_primary, 20%);
						}

						&.loading{
							width: 10px;
							color: transparent;
							min-height: 20px;
							border-radius: 50%;

							&.success{
								background-color: $green;
								&:hover{
									background-color: $green;
								}
							}
							&::ng-deep span.icon{
								font-family: 'fontawesome';
								color: $white;
								font-size: 20px;
								display: block;
								position: absolute;
								top: calc(50% - 10px);
								left: calc(50% - 10px);

									&.rotate{
										animation:spin 2s linear infinite;
									}
							}
							@keyframes spin { 100% { transform: rotate(360deg); } }
							&:hover{
								background-color: $dark_primary;
							}
						}
					}
				}
			}
			a.link{
				font-size: 12px;
				color: #303030;
				font-weight: 200;
				text-align: right;
				margin: 10px auto;
			}
		}
	}
}