<section class="user_list">
	<div class="inner_container">
		<div class="header">
			<h3>Active user</h3>
			<p>All user who suscribe to the website</p>
		</div>
		<div class="body">
			<table class="users_container">
				<tbody>
					<tr>
						<th>Given Name</th>
						<th>Family Name</th>
						<th>Email</th>
						<th>Level</th>
						<th>Signup date</th>
						<th></th>
					</tr>
					<tr *ngFor="let user of users">
						<td>{{user.given_name}}</td>
						<td>{{user.family_name}}</td>
						<td>{{user.email}}</td>
						<td>{{user.level}}</td>
						<td>{{user.created_at | amTimeAgo}}</td>
						<td><a routerLink="/admin/user-details/{{user._id}}">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>