// =============================================================================
// IMPORT
// =============================================================================
@import "../../../styles";


article.user_list{
	div.inner_container{
		div.header{
			h3{}
			p{}
		}
		div.body{}
			table.users_container{
				width: calc( 100% - 60px );
				margin: 40px auto 10px;
				border-collapse: collapse;

				  tbody{
					th{
						overflow: auto;
						cursor: pointer;
						p{
							float: left;
						} 
						div.filter_group{
							float: left;
							margin: -3px 10px 0px 10px;
							position: relative;

							span{
								position: absolute;
								display: block;
								font-size: 15px;
								font-family: 'fontawesome';
							}
							span:nth-child(1){ top: -1px; }
							span:nth-child(2){ top: 8px; }
						}
					}
						tr{
							width: 30px;
							line-height: 30px;

							th{
								text-align: left;
								font-size: 1.3rem;
								color: $light_grey;
								font-weight: 800;
								padding: 5px;

							}
							td{
								font-size: 1.3rem;
								border-bottom: 1px solid #E3E3E3;
								padding: 5px;
								color: $med_grey;

								&.green a{ color: $light_green; }
								a{
									text-align: left;
									display: block;
								}
							}
							&:nth-child( even ){ background-color: #f9f9f9; }
						}
					}
				}
				div.extra_element{
					width: calc( 100% - 60px );
					margin: 0px auto 40px;
					overflow: auto;

					p.numberofelement{
						font-size: 1.3rem;
						float: left;
						margin: 0;
					}
					div.button_group{
						width: 150px;
						float: right;

						a.button{
							margin: 0px 5px;
							border: 1px solid rgba(0, 0, 0, 0);
							font-size: 1.6rem;
							font-weight: 400;
							display: inline-block;
							border-radius: 3px;
							cursor: pointer;
							text-align: center;
							padding: 4px 8px;
							transition: all 200ms;
							text-decoration: none;
							float: right;
							color: $white;
							background-color: $light_green;

							&:hover{
								background-color: $med_green;
							}
							&.disabled{
								color: $med_green;
								background-color: $white;
							}
						}
					}
				}
				div.no_result{
					width: 100%;
					padding-bottom: 50px; 

					img{
						display: block;
						width: 90%;
						margin: 100px auto 20px;
						max-width: 150px;
					}
					p{
						width: 100%;
						text-align: center;
						margin: 0 auto;
						font-size: 2.5rem;
						font-weight: 200;
						max-width: 300px;
					}
				}
			}
		}
	}
}