<section class="set_password">
	<div class="inner_container">
		<div class="set_password_container">
			<div class="set_password_card">
				<div class="header">
					<h3>Set password</h3>
				</div>
				<div class="body">
					<div class="input_group">
						<label for="password_input">Password:</label>
						<input type="password" id="password_input" placeholder="1Grd%jdb">
						<p class="informational_message"></p>
					</div>
					<div class="input_group">
						<label for="passwordconfirmation_input">Confirmation of password:</label>
						<input type="password" id="passwordconfirmation_input" placeholder="1Grd%jdb">
						<p class="informational_message"></p>
					</div>
				</div>
				<div class="footer">
					<a class="button">Send recovery email</a>
				</div>
			</div>
		</div>
	</div>
</section>