<section class="set_password">
	<div class="inner_container">
		<div class="set_password_container">
			<h3 class="title">Set password</h3>
			<div class="set_password_card">
				<div class="header">
					<div class="user_icon" [ngStyle]="gradient_style">{{initials}}</div>
				</div>
				<div class="body">
					<div class="input_group">
						<label for="password_input">Password <span class="required">*</span></label>
						<input type="password" id="password_input" placeholder="1Grd%jdb" [(ngModel)]="input_password">
						<span class="tooltype password_strength">
							<h4>Password strength: {{strength_info}}</h4>
							<p>8 letters minimum, try adding capitals, numbers, special signs.</p>
							<div class="gauge_strengh">
								<span class="level-1" [className]="level_1"></span>
								<span class="level-2" [className]="level_2"></span>
								<span class="level-3" [className]="level_3"></span>
								<span class="level-4" [className]="level_4"></span>
								<span class="level-5" [className]="level_5"></span>
							</div>
						</span>
						<p class="informational_message" [innerHTML]="info_password"></p>
					</div>
					<div class="input_group">
						<label for="passwordconfirmation_input">Confirmation of password <span class="required">*</span></label>
						<input type="password" id="passwordconfirmation_input" placeholder="1Grd%jdb" [(ngModel)]="input_password_confirmation">
						<p class="informational_message" [innerHTML]="info_password_confirmation"></p>
					</div>
				</div>
				<div class="footer">
					<a [className]="button_class" (click)="input_verification()" [innerHTML]="button_text"></a>
				</div>
			</div>
		</div>
	</div>
</section>