<nav class="dashboard_nav" >
	<div class="inner_container">
		<ul>
			<li class="active"><a>Home</a></li>
			<li><a>Banana</a></li>
			<li class="profile_sub_nav">
				<div class="user_icon"></div>
				<div class="nav_dropdown">
					<div class="header">
						<h3>Hello Alexandre</h3>
					</div>
					<ul>
						<li><a>Profile</a></li>
						<li><a>Notification</a></li>
						<li><a>Log history</a></li>
						<li><a>Give get</a></li>
						<li><a>Terms and Condition</a></li>
						<li><a>Logout</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>

<section class="email_verification" *ngIf="!user.is_email_verified" >
	<div class="inner_container">
		<p>{{email_verification_message}}</p>
		<a class="button gost" (click)="send_another_email_verification()">Resend</a>
	</div>
</section>
