// =============================================================================
// IMPORT
// =============================================================================
@import "../../../styles";

section.forgot_password{
	min-height: 100vh;

	div.inner_container{
		width: 90%;
		min-height: 100vh;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-around;

		div.forgot_password_container{
			width: 100%;
			max-width: 350px;

			div.forgot_password_card{
				width: calc(100% - 40px);
				height: auto;
				background-color: #fff;
				padding: 25px 20px;
				border-radius: 4px;
				box-shadow: 0px 0px 5px rgba(black, 0.1);
	
				div.header{
					margin-bottom: 20px;
	
					h3{
						font-size: 20px;
						text-align: center;
						color: #303030;
					}
				}
				div.body{
					div.input_group{
						width: 100%;
						margin: 30px 0;
		
						&:first-child{ margin-top: 0; }
						&:last-child{ margin-bottom: 0; }
						label{
							font-size: 12px;
							font-weight: 600;
							display: block;
							margin-bottom: 5px;

							span.required{
								color: $red;
							}
						}
						input{
							font-size: 16px;
							color: #303030;
							width: 100%;
							padding: 12px 0;
							border: none;
							border-bottom: 1px solid #303033;
							font-weight: 400;
						}
						p.informational_message{
							font-size: 12px;
							font-weight: 200;
							color: $red;
							margin-top: 5px;

							&::ng-deep span{
								font-family: 'fontawesome';
								font-weight: 300;
							}
						}
					}
				}
				div.footer{
					overflow: auto;
					margin-top: 20px;
	
					a.button{
							background-color: #303030;
							padding: 10px 15px;
							border-radius: 3px;
							color: white;
							float: right;
							transition: background-color 200ms;
							
							&:hover{
								background-color: lighten( #303030, 20%);
							}
					}
				}
			}
			a.link{
				font-size: 12px;
				color: #303030;
				font-weight: 200;
				text-align: right;
				margin: 10px auto;
			}
		}
	}
}